#mainBackground {
	background-color: #EBEBEB;
}

#main {
	font-family: "Open Sans";
    text-align: center;
    color: #444444;
    font-weight: bold;

    height: 100%;
}

#mainTitle {
    margin-top: 30px;
    margin-bottom: 0px;

    font-size: 50px;
    font-weight: bold;
    color: #444444;
}

#mainDescription {
	margin-top: 20px;
	margin-bottom: 20px;
}

#mainImage {
    margin-left: auto;
    margin-right: auto;

    height: 80%;
    width: 80%;
}

#mainButton {
    color: white;
    font-size: 20px;

    background-color: #448BCC;

    margin-bottom: 30px;
    padding: 20px;

	border: none;
}

#features {
	font-family: "Open Sans";
    text-align: center;

    background-color: white;
    height: 100%;
}

#features img {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    width: 75px;
    height: auto;
}

#footer {
	font-family: "Open Sans";
    text-align: center;

    font-size: 15px;

	margin-top: 50px;

}

#footerText {
	padding-top: 30px;
	border-top: 3px solid #BBBBBB;
}

.fullHeight {
	height: calc(100% - 70px);
}

#formTitle {
	font-family: "Ubuntu";
}

form {
	background-color: white;
	font-family: "Open Sans";
}

