<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

		<!-- BootStrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="css/about.css" rel="stylesheet"></link>
		<link href="css/header.css" rel="stylesheet"></link>

		<!-- Open Sans Font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'></link>
	</head>

	<body>
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation" id="navBar">
			<div class="container" id="navBarContainer">
				<div class="navbar-header">
					<ul class="navbar-nav nav">
						<li><a th:href="@{/}" id="logo">Logo</a></li>
					</ul>
				</div>

				<div class="navbar-right">
					<ul class="navbar-nav nav">
						<li><a th:href="@{/}" class="navBarLink" id="home">Home</a></li>
						<li><a th:href="@{/about}" class="navBarLink active" id="about">About</a></li>
						<li><a th:href="@{/signup}" class="navBarLink" id="signup">Sign Up</a></li>
						<li><a th:href="@{/signin}" class="navBarLink" id="signin">Sign In</a></li>
					</ul>
				</div>
			</div>
		</div>
	
		<div id="aboutBackground">
			<div class="container">
				<!-- Aboout us -->
				<div class="row">
					<div class="col-sm-12">
							<p class="title">About Us</p>
							<p class="text">
									Hello, my name is Hubert Chen and I am the creator of this web application. 
									My favorite method of studying is making flashcards. However, there is some overhead
									involved in this study method (e.g., cost, portability, tedious). 
									A lot of these disadvantages can be overcome with the help of technology. I hope that 
									this application helps you in studying your material. 
							</p>

							<p class="text">		
									One of the main reasons I chose to pursue this idea is because of the current alternatives.
									A lot of competitiors/alternatives require you to pay extra for features and do not provide 
									a satisfying user experience. I have made this site open source so that others may 
									contribute to improving it. Please feel free to contact me if you have any suggestions for
									the application.
							</p>					
					</div>	
				</div>	

			</div>
		</div>

		<div id="contactBackground">
			<div class="container">
				<!-- Contact us -->
				<div class="row"> 
					<div class="col-sm-12">
						<p class="title">Contact Us</p>
						<p class="text">
							<p class="text">
								E-Mail: HubertChen21@gmail.com
							</p>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../bootstrap/js/bootstrap.min.js"></script>

		<script>
			$(".navBarLink, #logo").mouseover(function() {
				$(this).css("color", "#448BCC");
			});

			$(".navBarLink, #logo").mouseleave(function() {
				$(this).css("color", "#444444");
			});

			$("#submitButton").mouseover(function() {
				$(this).css("background-color", "#63A5E0");
			});

			$("#submitButton").mouseleave(function() {
				$(this).css("background-color", "#448BCC");
			});
		</script>
	</body>
</html>
