<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

		<!-- BootStrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="css/deck.css" rel="stylesheet"></link>
		<link href="css/header.css" rel="stylesheet"></link>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'></link>
	</head>

	<body>
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation" id="navBar">
			<div class="container" id="navBarContainer">
				<div class="navbar-header">
					<ul class="navbar-nav nav">
						<li><a th:href="@{/}" id="logo">Logo</a></li>
					</ul>
				</div>

				<div class="navbar-right">
					<ul class="navbar-nav nav">
						<li>
							<a href="#" class="navBarLink dropdown-toggle" id="user" data-toggle="dropdown">
								User 
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>	
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-option"><a th:href="@{/signout}">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container" id="main">
			<!-- Title -->
			<div class="row">
				<div class="col-sm-12">
					<p id="title" th:text="${deck.name}"></p>
					<p id="description" th:text="${deck.description}"></p>
				</div>
			</div>

			<!-- Maniuplation Options -->
			<div class="row">
				<div class="col-md-2 col-md-offset-3 linkContainer">
					<a href="#" data-toggle="modal" data-target="#addFlashcardModal">
						<div class="add link">
								<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Card
						</div>
					</a>
				</div>

				<div class="col-md-2 linkContainer">
					<a href="#" data-toggle="modal" data-target="#slideshowModal" id="start">
						<div class="add link">
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Start
						</div>
					</a>
				</div>

				<div class="col-md-2 linkContainer">
					<a href="#" id="edit">
						<div class="edit link">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
						</div>
					</a>
				</div>
			</div>

			<div id="flashcards" th:each="flashcard : ${flashcards}">
				<div class="row">
					<div class="title col-sm-10 col-sm-offset-1">
						<div class="flashcard">
							<a href="#" data-toggle="modal" data-target="#slideshowModal">
							<div class="front">
								<p class="overlay">
									<span class="counter"></span>
									<span>
										<span class="deleteCardLink displayNone" data-toggle="modal" data-target="#removeFlashcardModal" th:attr="data-cardId=${flashcard.id},data-deckId=${deck.id}">
											<span class="deleteCard glyphicon glyphicon-remove-circle"></span> DELETE
										</span>
									</span>
								</p>
								<div class="content">
									<img class="image" th:if="${flashcard.picture} != null" th:src="'pictures/' + ${flashcard.picture}"></img>
									<br />
									<span th:text="${flashcard.front}"></span>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Slideshow Modal Form -->
		<div class="modal fade" id="slideshowModal" tabindex="-1" role="dialog" aria-labelledby="slideshowLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div id="flashcardCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item" th:each="flashcard : ${flashcards}">
								<!-- <span class="counter"></span> -->
								<a href="#" class="modalCard">
									<div class="flashcard">
										<p class="front">											
											<img class="image" th:if="${flashcard.picture} != null" th:src="'pictures/' + ${flashcard.picture}"></img>
											<br />
											<span th:text="${flashcard.front}"></span>
										</p>
										<p class="back displayNone" th:text="${flashcard.back}"></p>
									</div>
								</a>
							</div>
						</div>
						<!-- Controls -->
						<!-- Left Control -->
						<a class="left carousel-control" href="#flashcardCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>

						<!-- Right Control -->
						<a class="right carousel-control" href="#flashcardCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Add Flashcard Modal Form -->
		<div class="modal fade" id="addFlashcardModal" tabindex="-1" role="dialog" aria-labelledby="addFlashcardLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>

						<h4 class="modal-title formTitle" id="addFlashcardLabel">Add Flashcard</h4>
					</div>

					<div class="modal-body">
						<form role="form" th:action="@{/addFlashcard?deckId=} + ${deckId}" th:object="${flashcard}" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<input type="text" class="form-control" id="front" placeholder="Front" th:field="*{front}"></input>
								<input type="text" class="form-control" id="back" placeholder="Back" th:field="*{back}"></input>
								<input type="file" class="form-control" id="file" name="file" placeholder="File"></input>
							</div>

							<button id="submitButton" type="submit" class="btn btn-default">Add Flashcard</button>
							<button id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Remove Flashcard Modal Form -->
		<div class="modal fade" id="removeFlashcardModal" tabindex="-1" role="dialog" aria-labelledby="removeFlashcardLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>

						<h4 class="modal-title formTitle" id="removeFlashcardLabel">Confirmation</h4>
					</div>

					<div class="modal-body">
						<form role="form" action="" method="POST">
							<p class="removeFlashcardDescription">Are you sure on want to delete the flashcard?</p>
							<button id="submitButton" type="submit" class="btn btn-default">Remove Card</button>
							<button id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
						</form>
					</div>
				</div>
			</div>
		</div>	

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../bootstrap/js/bootstrap.min.js"></script>

		<script>
			/*<![CDATA[*/

			$("#user, #logo").mouseover(function() {
				$(this).css("color", "#448BCC");
			});

			$("#user, #logo").mouseleave(function() {
				$(this).css("color", "#444444");
			});

			$(".add").mouseover(function() {
				$(this).css("background-color", "#63A5E0");
			});

			$(".add").mouseleave(function() {
				$(this).css("background-color", "#448BCC");
			});

			$(".edit, .deleteCardLink").mouseover(function() {
				$(this).css("background-color", "#F39191");
			});

			$(".edit, .deleteCardLink").mouseleave(function() {
				$(this).css("background-color", "#E26767");
			});

			$(".deleteCardLink").click(function() {
				$("#removeFlashcardModal form").attr("action", "/removeFlashcard?flashcardId=" + $(this).attr("data-cardId") + "&deckId=" + $(this).attr("data-deckId"));
			});

			var counter = 1;
			$(".overlay .counter").each(function() {
				$(this).text(counter);
				counter++;
			});

			var counter2 = 1;
			$(".carousel-inner .counter").each(function() {
				$(this).text(counter2);
				counter2++;
			});

			for(var x = 0; x < $(".container .flashcard").length; x++) {
				$(".container .flashcard:eq(" + x + ")").attr("id", (x+1));
				$(".modal .flashcard:eq(" + x + ")").attr("id", (x+1));
			}

			$(".modal .item:nth-child(1)").attr("class", "item active");

			$("#start").click(function() {
				$(".carousel-inner").find(".item").attr("class", "item");
				$(".modal .item:nth-child(1)").attr("class", "item active");
			});

			var editMode = true;
			$(".edit").click(function() {
				if(editMode) {
					$(this).empty();
					$(this).append("<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span> Done");
					$(".deleteCardLink").attr("class", "deleteCardLink");
					$(".flashcard a").attr("data-target", "");
					editMode = false;
				} else {
					$(this).empty();
					$(this).append("<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span> Edit");
					$(".deleteCardLink").attr("class", "deleteCardLink displayNone");
					$(".flashcard a").attr("data-target", "#slideshowModal");
					editMode = true;
				}
			});
	
			$("#flashcards .flashcard").click(function() {
				$(".carousel-inner").find(".item").attr("class", "item");
				
				var count = $(this).attr("id");

				$(".modal .item:nth-child(" + count + ")").attr("class", "item active");
				$(".back").attr("class", "back displayNone");
				$(".front").attr("class", "front");
			});

			$(".carousel-control").click(function() {
				$(".back").attr("class", "back displayNone");
				$(".front").attr("class", "front");
			});

			$(".modalCard").click(function() {
				var back = $(this).find(".back");
				var front = $(this).find(".front");
				if(back.attr("class").indexOf("displayNone") == -1) {
					back.attr("class", "back displayNone");
					front.attr("class", "front");
					console.log($(this).prev().text());
				} else {
					back.attr("class", "back");
					front.attr("class", "front displayNone");
				}
			});
			/*]]>*/
		</script>
	</body>
</html>
