<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

		<!-- BootStrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="css/home.css" rel="stylesheet"></link>
		<link href="css/header.css" rel="stylesheet"></link>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'></link>
	</head>

	<body>
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation" id="navBar">
			<div class="container" id="navBarContainer">
				<div class="navbar-header">
					<ul class="navbar-nav nav">
						<li><a th:href="@{/}" id="logo">Logo</a></li>
					</ul>
				</div>

				<div class="navbar-right">
					<ul class="navbar-nav nav">
						<li>
							<a href="#" class="navBarLink dropdown-toggle" id="user" data-toggle="dropdown">
								User 
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>	
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-option"><a th:href="@{/signout}">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container" id="main">
			<!-- Title -->
			<div class="row">
				<div class="col-sm-12">
					<h1 id="title">Home</h1>
				</div>
			</div>

			<!-- Maniuplation Options -->
			<div class="row">
				<div class="col-md-2 col-md-offset-4 linkContainer">
					<a href="#" data-toggle="modal" data-target="#addFolderModal">
						<div class="add link">
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Folder
						</div>
					</a>
				
					<!-- Add Folder Modal Form -->
					<div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>

									<h4 class="modal-title formTitle" id="addFolderLabel">Add Folder</h4>
								</div>
							
								<div class="modal-body">
									<form role="form" th:action="@{/addFolder}" th:object="${folder}" method="POST">
										<div class="form-group">
											<input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}"></input>
										</div>

										<button id="submitButton" type="submit" class="btn btn-default">Add Folder</button>
										<button id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-2 linkContainer">
					<a href="#" data-toggle="modal" data-target="#addDeckModal">
						<div class="add link">
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Deck
						</div>
					</a>

					<!-- Add Deck Modal Form -->
					<div class="modal fade" id="addDeckModal" tabindex="-1" role="dialog" aria-labelledby="addDeckLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>

									<h4 class="modal-title formTitle" id="addDeckLabel">Add Deck</h4>
								</div>
							
								<div class="modal-body">
									<form role="form" th:action="@{/addDeck}" th:object="${deck}" method="POST" onsubmit="return deckFormValidation()">
										<div class="form-group">
											<input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name"></input>
											<select class="form-control" th:field="*{folderId}">
												<option selected="selected" value="-1">Select the folder</option>
												<option th:each="folder : ${folders}" th:value="${folder.id}" th:text="${folder.name}"></option>
											</select>
											<input type="text" class="form-control" th:field="*{description}" id="description" placeholder="Description"></input>
										</div>

										<button id="submitButton" type="submit" class="btn btn-default">Add Folder</button>
										<button id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="folderAndDeck" th:each="folder : ${folders}">
				<div class="row">
					<div class="title col-sm-10 col-sm-offset-1 folder">
						<div class="folderSpan">
							<a href="#" class="icon">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
							<span class="folderName" th:text="${folder.name}"></span>
						</div>
						
						<div th:each="deck : ${folder.decks}" class="col-sm-12 deck">
							<a th:href="@{/deck?id=} + ${deck.id}">
								<div>
									<p class="bold">Name: </p>
									<p class="deckName" th:text="${deck.name}" />
								</div>
								
								<div>
									<p class="bold">Description: </p>
									<p class="deckDescription" th:text="${deck.description}" />
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../bootstrap/js/bootstrap.min.js"></script>

		<script>
			$("#user, #logo").mouseover(function() {
				$(this).css("color", "#448BCC");
			});

			$("#user, #logo").mouseleave(function() {
				$(this).css("color", "#444444");
			});

			$(".add").mouseover(function() {
				$(this).css("background-color", "#63A5E0");
			});

			$(".add").mouseleave(function() {
				$(this).css("background-color", "#448BCC");
			});


			$(".icon").click(function() { 
				if($(this).find("span").attr("class") == "glyphicon glyphicon-chevron-down"){
					$(this).find("span").attr("class", "glyphicon glyphicon-chevron-right");
					$(this).parent().parent().find(".deck").css("height", "0px");
					$(this).parent().parent().find(".deck").css("padding", "0px");
					$(this).parent().parent().find(".deck").css("margin-bottom", "0px");
					$(this).parent().parent().find(".deck").css("visibility", "collapse");
				} else {	
					$(this).find("span").attr("class", "glyphicon glyphicon-chevron-down");
					$(this).parent().parent().find(".deck").css("height", "auto");
					$(this).parent().parent().find(".deck").css("padding", "10px");
					$(this).parent().parent().find(".deck").css("margin-bottom", "10px");
					$(this).parent().parent().find(".deck").css("visibility", "visible");
				}
			});
		</script>
	</body>
</html>
