<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

		<!-- BootStrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="css/home.css" rel="stylesheet"></link>

		<!-- Open Sans Font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
	</head>

	<body>
		<div class="container" id="main">
			<!-- Header -->
			<div class="row">
				<!-- Logo -->
				<div class = "col-sm-4">
					<p id="logo">Logo</p>
				</div>

				<!-- Options -->
				<div class="col-sm-4 col-sm-offset-4">
					<p id="options">Options</p>
				</div>
			</div>

			<!-- Title -->
			<div class="row">
				<div class="col-sm-12">
					<h1 id="title">Home</h1>
				</div>
			</div>

			<!-- Maniuplation Options -->
			<div class="row">
				<div class="col-sm-6">
					<p>Add Folder</p>
				</div>

				<div class="col-sm-6">
					<p>Add Deck</p>
				</div>
			</div>

			<!-- Folders and Decks -->
			<div id="folderAndDeck">
				
			</div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
